<p style="color: green"><%= notice %></p>

<h1>Products</h1>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Payment</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td>
      <% product.images.each do |image| %>
  <%= image_tag image, data: { lightbox: 'product-images' } %>
<% end %>

      </td>
      <td><%= link_to "Buy Now!", product.stripe_pmt_link, target: "blank"  %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
    </tr>
  <% end %>
  </tbody>
</table>